.product-box{
  height: 600px;
  background: rgba(134, 141, 137, 0.94);
  border-top: 1px solid black;
  border-left: 1px solid black;
}

.cart-item-box{
  background: rgba(134, 141, 137, 0.94);
  border-top: 1px solid black;
  border-left: 1px solid black;
}